html {
    background-color: #288ad6;
}

body {
    margin: 0;
}

#title {
    margin: 0;
    padding: 0.5em;
    text-align: center;

    font-size: 4em;
    font-family: 'Caveat', cursive;
    font-weight: inherit;

    background-color: #CEE8FF;
}   

#earth {
    height: 75px;
    vertical-align: sub;
}

#emmaTitle {
    color: #fa5e5b;
}

#emma {
    padding-bottom: 10px;
    text-align: justify;
}

#emmaTag {
    color: #fa5e5b;
}

#emmaText {
    display: none;
    vertical-align: bottom;
}

#emmaTyping {
    display: none;
    /*vertical-align: bottom;*/
    height: 0.5em;
}

#content {
    width: 700px;
    padding: 1em;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    background-color: #92CCFF;
    border-radius: 10px 10px 10px 10px;

    font-size: 1.2em;
}

#userText > input {
    width: 50%;
    vertical-align: middle;
}